body,
#root {
  margin: 0;
  grid-template-columns: 0;
  min-width: 320px;
  min-height: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.text-align-center {
  text-align: center;
}

.padding-sm {
  padding: 4px;
}

.padding-md {
  padding: 8px;
}

.padding-lg {
  padding: 16px;
}

.gap-sm {
  gap: 4px;
}

.display-flex {
  display: flex;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.user-select-none {
  user-select: none;
}